body {
  background-color: rgba(233, 209, 255, 0.602);
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: rgba(202, 145, 255, 0.602);
  padding: 20px;
}
.navbar-logo {
  width: 20vw;
  height: auto;
  align-items: center;
  display: flex;
}
.navbar-logo img {
  width: 70px;
}
.navbar-logo span {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding-left: 20px;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  justify-content: flex-end;
}

.navbar-list li {
  list-style: none;
}

.navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 15px;
}
.navbar-list button {
  display: none;
}
.navbar-sublist {
  border-top: 1px solid white;
  display: none;
  flex-direction: column;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(202, 145, 255, 0.233);
}
.navbar-sublist li {
  list-style: none;
  padding: 10px;
}

.navbar-sublist a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-sublist a:hover {
  color: rgb(31, 31, 31);
}

.navbar-hamburger {
  display: none;
  justify-content: flex-end;
}

.navbar a:hover {
  color: rgb(31, 31, 31);
}
@media only screen and (max-width: 600px) {
  .navbar-hamburger {
    display: flex;
    justify-content: flex-end;
    width: 70px;
  }
  .navbar-list {
    display: none;
  }
  .navbar-sublist {
    display: flex;
  }
}
