body {
  background-color: rgb(252, 250, 246);
  margin: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: rgb(141, 165, 161);
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
}

.input {
  margin: 5px;
  height: 25px;
  background-color: rgb(252, 250, 246);
  border: none;
}

.btn {
  width: 100px;
  height: 25px;
  justify-content: center;
  margin: auto;
  background-color: rgb(252, 250, 246);
  border: none;
}
