body {
  background-color: rgb(255, 255, 255);
}

.frame {
  width: 380px;
  height: 500px;
  background-color: rgb(241, 230, 215);
  border-radius: 20px;
  margin: auto;
  padding-top: 20px;
}

.frameDiv {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 470px;
  margin: auto;
}

.temperature {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(25, 90, 94, 0.856);
  font-size: 90px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.tempCold {
  background-color: rgb(138, 204, 255);
}

.tempHot {
  background-color: rgb(195, 74, 74);
}

.btnBox {
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  /* padding: 30px; */
}

.btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  background-color: rgba(149, 172, 173, 0.856);
  margin: auto;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.resetBtn {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgba(149, 172, 173, 0.856);
  border: none;
  border-radius: 7px;
  margin-top: 20px;
}
